html {
    background: #232931;
    color: #eeeeee;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
}

#simulations {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}

.simulation {
    background: #393e46;
    width: 150px;
    height: 150px;
    border-radius: 100%;

    border-style: solid;
    border-width: medium; 
    border-color: #797e86;

    cursor: pointer;

    margin-top: 20px;

}

.simulationText {
    font-size: 24px;
}